.btn {
    border-radius: 10px;
    border-width: 0px;
}

.btn:hover {
    color: #e7e6e3;
    transition-duration: 0.3s;
    transition: ease-in-out;
}


.instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.instagram:hover {
    color: rgb(241, 241, 241);
    transition-duration: 0.3s;
    transition: ease-in-out;
}

.artstation {
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.srtstation:hover {
    color: rgb(241, 241, 241);
    transition-duration: 0.3s;
    transition: ease-in-out;
}

.behance {
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #232526, #414345);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #232526, #414345);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.behance:hover {
    color: rgb(241, 241, 241);
    transition-duration: 0.3s;
    transition: ease-in-out;
}

.wazirx {
    background: #667db6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #667db6, #0082c8, #0082c8, #667db6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #667db6, #0082c8, #0082c8, #667db6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wazirx:hover {
    color: rgb(241, 241, 241);
    transition-duration: 0.3s;
    transition: ease-in-out;
}
.rarible {
    color: #111;
    background: #fbdb17;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #d3c048, #fbdb17);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #d3c048, #fbdb17);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.rarible:hover {
    color: rgb(39, 39, 39);
    transition-duration: 0.3s;
    transition: ease-in-out;
}

.medium{
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #111;
}

.medium:hover {
    color: rgb(39, 39, 39);
    transition-duration: 0.3s;
    transition: ease-in-out;
}

.medium:hover{
    color: #111;
}

.round {
    border-radius: 20px;
}

.mframe,
iframe {
    margin: 0 auto;
}

.mframe,
iframe {
    display: block;
    border-radius: 10px;
}

/* SCROLLBAR */

body::-webkit-scrollbar {
    width: 8px;
    height: 30px;
}

body::-webkit-scrollbar-track {
    background-color: #1a1a1a;
}

body::-webkit-scrollbar-thumb {
    background-color: #414345;
    border-radius: 0px;
}

@media only screen and (max-width: 768px) {
    iframe {
        width: auto;
    }
}